

.my-header{
    padding: 1em 0em;
    font-weight: 600;
}

.my-content-header{
    font-weight: 600;
}

.my-wrapper-select{
    margin-bottom: 2em;
}

/**
	Estilo do index
*/

.utf-intro {
	text-align: center;
	padding-top: 13%;
	padding-bottom: 13%;
	margin-bottom: 50px;
}

.utf-intro h1 {
	font-weight: 900;
	text-transform: uppercase;
}

.utf-intro h5 {
	text-transform: uppercase;
	background-color: #f5f5f5;
	padding: 10px;
	color: #333333;
	display: inline-block;
	font-size: 1.2rem;
}

.utf-brand{
    width: 16em;        
}

.utf-report-image{
    
}

@media (max-width: 600px) {
    .utf-logo{
        height: 2em;
    }
}




